body {
  background-color: whitesmoke;
}

h1 {
  background-color: cornflowerblue;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

#city-input {
  max-width: 25vw;
}

#weather-area {
  display: none;
}

#search-area {
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  margin-bottom: 20px;
}

#current-weather-area {
  border-style: solid;
  border-width: 0.5px;
  background-color: lightskyblue;
  margin-bottom: 20px;
}

#forecast-area {
  border-style: solid;
  border-color: mediumorchid;
  margin-top: 10px;
}

/* add spacing in and around cards */
#day1-card, #day2-card, #day3-card, #day4-card, #day5-card {
  padding: 10px;
  margin: 5px 10px;
}

/* switch to column display on narrow viewports */
@media screen and (max-width: 768px) {
  #app-container {
    flex-direction: column;  
  }
}