body {
  background-color: whitesmoke;
}

h1 {
  background-color: cornflowerblue;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

#city-input {
  max-width: 25vw;
}

#testing-element {
  color: chartreuse;
  background-color: black;
}

#search-area, #current-weather-area, #forecast-area {
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
}

#current-weather-area, #forecast-area {
  border-style: solid;
  border-color: darkgreen;
}

#forecast-area {
  border-style: solid;
  border-color: mediumorchid;
}

/* column display on narrow viewports */
@media screen and (max-width: 768px) {
  #app-container {
    flex-direction: column;  
  }
}